.messagesContainer
  > .messages
    .alert
      margin 10px
      padding 10px
      background #f0f0f0
      border 1px solid #afafaf

      &.error
        background rgba(#c00000,0.1)
        border: 1px solid #c00000
        color #c00000

      &.success
        background rgba(#007a00,0.1)
        border: 1px solid #007a00
        color #007a00