/* Author: PVD */

*{  }
.fl{ float: left; }
.fr{ float: right; }
.red{ border: red 1px solid !important; }
.newRow{ clear: both; }
.hidden{ display: none; }
.visible{ visibility: visible !important; }

body{ font-size: 0.9em; font-family: "Tahoma", "Arial", "sans-serif"; }

#content{ width: 960px; margin: 0 auto; }

#alertBox{ opacity: 0; }

/* style modifications for jQuery Widget
.ui-widget{ margin: .5em 0; }
.ui-widget p{ margin: .5em 0; overflow: hidden; }
.ui-widget .ui-corner-all{ padding: 4px; }
.ui-widget.error .ui-corner-all{ border:1px solid #c20000;background:#cd0a0a url("images/ui-bg_highlight-hard_45_cd0a0a_1x100.png") 50% top repeat-x;color:#fff; }
.ui-widget.error .ui-icon{ background-image: url("images/ui-icons_fff_256x240.png"); background-position:0 -144px; }
.ui-widget.success .ui-corner-all{ border: 1px solid #5CB85C; background-color: #DFF0D8; color: #5CB85C; }
.ui-widget.success .ui-icon{ background-image: url("images/ui-icons_5CB85C_256x240.png"); background-position:-64px -144px }
.ui-widget .ui-widget-header{ margin: 0; padding: 2px 5px; font-weight: bold; }
.ui-widget .ui-widget-content{ overflow: hidden; padding: 2px 5px; }
.ui-widget .ui-widget-content-active{ border-color: #ACDD4A; }
.ui-widget fieldset{ border: none; padding: 0; }
.ui-widget fieldset legend{ display: none; }*/



.ui-menu{width: 140px; }

/* original style with arrow for jQuery Tooltip */
.ui-tooltip, .arrow:after{ background: #e14f1c !important; border: 2px solid white !important; }
.ui-tooltip{ font-weight: bold; font-size: 1.1em; box-shadow: 0 0 7px black; }
.arrow{ width: 70px; height: 10px; overflow: hidden; position: absolute; left: 50%; margin-left: -25px; bottom: -10px; }
.arrow:after{ content: ""; position: absolute; left: 20px; top: -18px; width: 20px; height: 20px; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); tranform: rotate(45deg); }


.autocompleteBox{ position: relative; width: 800px; list-style-type: none; padding: 0; overflow: hidden; }

.autocompleteBox .autocompleteBoxElm{ display: block; float: left; }
/*.autocompleteBox .autocompleteBoxElm:hover{ border-bottom: 1px dashed; }
                 .autocompleteBoxElm ul,*/
/*.ui-state-focus{ background-color: #DADADA }*/
.ui-autocomplete{ display: none; padding: 5px; list-style-type: none; border: 1px dotted; border-top: none; background-color: #fff; overflow: hidden; min-width: 140px !important; }
.ui-autocomplete-category{ font-weight: bold; padding: .2em .4em; margin: .8em 0 .2em; line-height: 1.5; }
.ui-autocomplete-category-log{ position: relative !important; display: block !important; height: 22px; background-color: #fff; }
.ui-autocomplete-category-log li{ display: block; width: 20px !important; float: left; }
.ui-autocomplete-category-log li a{ width: 15px; }
.autocompleteBox .autocompleteBoxElmAct ul{ display: block; }
.autocompleteBox .autocompleteBoxElmAct input:hover{ border-bottom: none; }
.autocompleteBox .autocompleteBoxElmAtt:hover,
.autocompleteBox .autocompleteBoxElmLog:hover,
.autocompleteBox .autocompleteBoxElmVal:hover{ cursor: pointer; border-bottom: 1px dashed; }
.autocompleteBox .autocompleteBoxElmAtt{ color: green; background-color: #F0F0F0; }
.autocompleteBox .autocompleteBoxElmLog{ color: red; background-color: #F0F0F0; }
.autocompleteBox .autocompleteBoxElmVal{ color: blue; background-color: #F0F0F0; }
                 .autocompleteBoxElm input{ float: left; width: 10px; font-size: 14px; border: none; }

.autocompleteBox .autocompleteBoxInp{  }
                 .autocompleteBoxInp div{ float: left; width: 10px; height: 18px; text-align: center; }
.autocompleteBox .autocompleteBoxEnd{ position: absolute; right: 5px; bottom: 0; }

/* Drag&Drop styles */
#content{ overflow: hidden; }
#content form{ overflow: hidden; padding-bottom: 10px; }
#content fieldset{ }
.dragDropBox{ position: relative; width: 680px; min-height: 35px; padding: 0 30px 0 0; list-style-type: none; }
.dragDropBox li{ display: inline-table; margin: 2px; }
.dragDropBox li span{ }
.dragDropElmAtt{ color: green; }
.dragDropElmRel{ color: red; }
.dragDropElmBin{ color: blue; }
.dragDropElmVal{ color: blueviolet; }
.dragDropBox .dragDropElmLog{ margin: 2px 5px; }
.dragDropBox .dragDropBoxEnd{ position: absolute; right: 5px; bottom: 0; }
.dragDropBox .noSortable{ background: none; border-color: #fff; }
.dragDropBox .ui-selected{ background-color: #cacaca; }
.dragDropBox .button{ cursor: default; }

/* draggable Button styles*/
.button{ display: block; padding: 5px 10px; border: #cacaca 1px solid; background-color: #F0F0F0;
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none; }
.button.toRemove{ cursor: not-allowed !important; }
.button.moving{ cursor: move; }

/*#confidence,#support{ width: 50px; margin-right: 40px; }*/
.ui-spinner{ width: 80px; margin-right: 20px; }
.ui-spinner input{ width: 50px; }
label{ font-size: 1.1em; }

.draggableBox{ margin: 0; padding: 0; list-style-type: none; }
.draggableBox .button{ float: left; cursor: move; }
.draggableBox .draggableBoxInfo{ width: 150px; }
#navigation div.scrollable{ margin-top: 5px; height: 235px; overflow-y: auto; }
#navigation div.scrollable h3{ clear: both; margin: 5px 0 2px; }
#navigation .draggableBox .button{ margin: 1px 0; clear: left; }
#navigation input{ width: 150px; margin-right: 2px; padding: 3px 4px; }
.draggablePlace{ display: block; padding: 5px 10px; text-align: center; border: #cacaca 1px dotted; }
.draggableBoxRel{ visibility: hidden; clear: left; }
.draggableBoxRel .button{ /*float: left; */margin: 5px; overflow: hidden; }
.draggableSearchReset{ float: right; }

#rules li{ line-height: 26px; }
#rules li:hover{ background-color: #fafafa; }
.ruleDelete{ float: right; border-radius: 4px; }

/*.ui-widget{ padding: 5px; list-style-type: none; border: 1px dotted; border-top: none; background-color: #fff; min-width: 140px !important; }
.ui-icon-carat-1-e{ position: absolute; top: 20px !important; width: 5px; height: 24px; background: url(../images/arrow.gif) right 8px no-repeat; }*/
